<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,400,700"> 
    <!-- <link href="static/main.css" rel="stylesheet"> -->
    
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-container fluid overflow-auto>
          <v-layout fill-height>
            <v-flex xs3 mr-3 overflow-hidden>
              <v-layout column white pa-2 fill-height overflow-auto>
                <v-flex>
                  <v-layout column>
                    <v-select label="Select group" :items="ai_players" v-model="selected_ai" outline></v-select>
                    <v-flex headline>Group info</v-flex>
                    <v-flex subheading font-weight-bold mt-2>name</v-flex>
                    <v-flex body-1>{{ current_ai.name }}</v-flex>
                    <v-flex subheading font-weight-bold mt-2>icon</v-flex>
                    <v-flex body-1><span :class="['mdi', 'mdi-'+current_ai.icon]"></span></v-flex>
                    <v-flex subheading font-weight-bold mt-2>member</v-flex>
                    <v-flex body-1 v-for="member in current_ai.members">{{ member }}</v-flex>
                    <v-flex subheading font-weight-bold mt-2>games</v-flex>
                    <v-data-table :headers="one_ai_table_header" :items="one_ai_table_items" item-key="game_num">
                      <template v-slot:items="props">
                        <tr @click="props.expanded = !props.expanded">
                          <td>{{ props.item.game_num }}</td>
                          <td>{{ props.item.points }}</td>
                        </tr>
                      </template>
                      <template v-slot:expand="props">
                        <v-card class="pa-2">
                          <v-data-table class="elevation-3" hide-headers hide-actions :items="formatDetails(props.item.details)">
                            <template v-slot:items="props">
                              <tr>
                                <td>{{ props.item.label }}</td>
                                <td>{{ props.item.value }}</td>
                              </tr>
                            </template>
                          </v-data-table>
                        </v-card>
                      </template>
                    </v-data-table>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex xs9 shrink overflow-hidden>
              <v-layout column fill-height>
                <v-flex mb-3 white display-4 shrink>
                  <v-layout row align-content-center my-5>
                    <v-spacer></v-spacer>
                    <v-flex shrink text-xs-center mx-2 v-for="d,i in dice_face" :class="just_rolled[i] == 1 ? 'just-rolled' : 'not-rolled'"><span :class="['mdi', 'mdi-dice-'+d]"></span></v-flex>
                    <v-spacer></v-spacer>
                  </v-layout>
                </v-flex>
                <v-flex display-3 mb-3 white shrink>
                  <v-layout row justify-center>
                    <v-spacer></v-spacer>
                    <v-spacer></v-spacer>
                    <v-btn icon large fab title="roll once" @click="rollOnce" :disabled="!can_game_continue"><v-icon>mdi-skip-next</v-icon></v-btn>
                    <v-spacer></v-spacer>
                    <v-btn icon large fab title="autorun this game" @click="runAGame" :disabled="!can_game_continue"><v-icon>mdi-play</v-icon></v-btn>
                    <v-spacer></v-spacer>
                    <v-btn icon large fab title="autorun all games" @click="runAll"><v-icon>mdi-play-circle-outline</v-icon></v-btn>
                    <v-spacer></v-spacer>
                    <v-btn icon large fab title="new game" @click="newGame"><v-icon>mdi-new-box</v-icon></v-btn>
                    <v-spacer></v-spacer>
                    <v-btn icon large fab title="show result summary" @click.stop="show_result_summary = !show_result_summary"><v-icon>mdi-account-multiple</v-icon></v-btn>
                    <v-spacer></v-spacer>
                    <v-spacer></v-spacer>
                  </v-layout>
                </v-flex>
                <v-flex white overflow-auto>
                  <v-layout column px-2>
                    <template v-for="message,i in messages">
                      <v-flex my-2>{{ message }}</v-flex>
                      <v-divider v-if="i < messages.length-1"></v-divider>
                    </template>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-dialog v-model="show_result_summary">
              <v-card>
                <v-card-title>Result summary</v-card-title>
                <v-divider></v-divider>
                <v-flex mx-5>
                  <v-data-table :headers="result_summary_header" :items="result_summary_items">
                    <template v-slot:items="props">
                      <tr>
                        <td>{{ props.item.name }}</td>
                        <td v-for="g in props.item.games" class="text-xs-center">{{ g }}</td>
                        <td class="font-weight-bold text-xs-center">{{ props.item.games.reduce((acc,val) => acc + val, 0) }}</td>
                      </tr>
                    </template>
                  </v-data-table>
                </v-flex>
                <v-divider></v-divider>
                <v-card-actions align-content-right>
                  <v-spacer></v-spacer>
                  <v-btn flat @click="show_result_summary = !show_result_summary">Close</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-layout>
        </v-container>
      </v-app>
    </div>
    
    <style>
      html, body { width: 100vw; height: 100vh; overflow: auto; display: flex; }
      #app { flex-grow: 1; display: flex; }
      .overflow-auto { overflow: auto; }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="static/main.js"></script>
  </body>
</html>